<footer id="uc-footer" class="uc-footer panel overflow-hidden uc-dark">
    <div
      class="footer-outer py-4 lg:py-6 xl:py-9 dark:bg-gray-900 dark:text-white"
    >
      <div class="container max-w-xl">
        <div class="footer-inner vstack gap-4 lg:gap-6 xl:gap-8">
          <div class="uc-footer-widgets panel">
            <div class="row child-cols-6 md:child-cols col-match g-4">
              <div class="col-12 lg:col-4">
                <div
                  class="panel vstack items-start gap-4 ltr:md:pe-8 rtl:md:ps-8"
                >
                  <div class="vstack gap-2">
                    <a href="/html/lexend/main/">
                      <img
                        class="w-32px text-primary"
                        src="images/logo-mark.svg"
                        alt="Lexend"
                      />
                    </a>
                    <p>
                      This powerfull tool eliminates the need to leave Salesforce
                      to get things done as I can create a custom proposal with
                      dynamic pricing tables.
                    </p>
                  </div>
                  <div class="hstack items-start gap-1">
                    <a href="#">
                      <img
                        class="text-gray-900 dark:text-white hover:text-opacity-70 transition-all duration-150"
                        src="images/playstore.svg"
                        alt="Google Play Store"
                        data-uc-svg=""
                      />
                    </a>
                    <a href="#">
                      <img
                        class="text-gray-900 dark:text-white hover:text-opacity-70 transition-all duration-150"
                        src="images/appstore.svg"
                        alt="Apple Store"
                        data-uc-svg=""
                      />
                    </a>
                  </div>
                </div>
              </div>
              <div>
                <ul class="nav-y gap-1 fw-medium">
                  <li><a href="/html/lexend/main/page-about">About</a></li>
                  <li><a href="/html/lexend/main/page-pricing">Pricing</a></li>
                  <li><a href="/html/lexend/main/page-features">Features</a></li>
                  <li>
                    <a href="/html/lexend/main/page-integrations">Integrations</a>
                  </li>
                  <li><a href="/html/lexend/main/page-career">Career</a></li>
                  <li><a href="/html/lexend/main/page-contact">Contact</a></li>
                  <li>
                    <a href="/html/lexend/main/page-contact-2">Contact v2</a>
                  </li>
                </ul>
              </div>
              <div>
                <ul class="nav-y gap-1 fw-medium">
                  <li><a href="/html/lexend/main/shop">Shop</a></li>
                  <li>
                    <a href="/html/lexend/main/shop-sidebar">With sidebar</a>
                  </li>
                  <li>
                    <a href="/html/lexend/main/shop-product-detail"
                      >Product detail</a>
                  </li>
                  <li>
                    <a href="/html/lexend/main/shop-product-detail-2"
                      >Product detail v2</a>
                  </li>
                  <li><a href="/html/lexend/main/shop-cart">Cart</a></li>
                  <li><a href="/html/lexend/main/shop-checkout">Checkout</a></li>
                  <li>
                    <a href="/html/lexend/main/shop-order">Order confirmation</a>
                  </li>
                </ul>
              </div>
              <div>
                <ul class="nav-y gap-1 fw-medium">
                  <li>
                    <a href="/html/lexend/main/request-demo">Request a demo</a>
                  </li>
                  <li><a href="/html/lexend/main/sign-in">Sign in</a></li>
                  <li><a href="/html/lexend/main/sign-in-2">Sign in v2</a></li>
                  <li><a href="/html/lexend/main/sign-up">Sign up</a></li>
                  <li><a href="/html/lexend/main/sign-up-2">Sign up v2</a></li>
                  <li>
                    <a href="/html/lexend/main/reset-password">Reset password</a>
                  </li>
                  <li>
                    <a href="/html/lexend/main/reset-password-2"
                      >Reset password v2</a>
                  </li>
                </ul>
              </div>
              <div>
                <ul class="nav-y gap-1 fw-medium">
                  <li><a href="/html/lexend/main/blog">Blog</a></li>
                  <li>
                    <a href="/html/lexend/main/blog-details">Blog detail</a>
                  </li>
                  <li><a href="/html/lexend/main/page-faq">FAQ</a></li>
                  <li><a href="/html/lexend/main/404">404</a></li>
                  <li><a href="/html/lexend/main/coming-soon">Coming Soon</a></li>
                  <li>
                    <a href="/html/lexend/main/page-terms">Terms of service</a>
                  </li>
                  <li>
                    <a href="/html/lexend/main/page-privacy">Privacy policy</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="uc-footer-bottom panel vstack lg:hstack gap-4 justify-center lg:justify-between pt-4 lg:pt-6 border-top dark:text-white"
          >
            <div
              class="vstack sm:hstack justify-center lg:justify-start items-center lg:items-start gap-1 lg:gap-2"
            >
              <p class="opacity-60">Lexend © 2024, All rights reserved.</p>
              <ul class="nav-x gap-2 fw-medium">
                <li><a href="#">Privacy notice</a></li>
                <li><a href="#">Legal</a></li>
                <li><a href="#">Cookie settings</a></li>
              </ul>
            </div>
            <div class="hstack justify-center lg:justify-end gap-2 lg:gap-3">
              <ul class="nav-x gap-2">
                <li>
                  <a href="#"><i class="icon icon-2 unicon-logo-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon icon-2 unicon-logo-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon icon-2 unicon-logo-x-filled"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon icon-2 unicon-logo-instagram"></i></a
                  >
                </li>
                <li>
                  <a href="#"><i class="icon icon-2 unicon-logo-youtube"></i></a>
                </li>
              </ul>
              <div class="vr"></div>
              <div class="d-inline-block">
                <a href="#" class="hstack gap-1 text-none fw-medium">
                  <i class="icon icon-1 unicon-earth-filled"></i>
                  <span>English</span>
                  <span data-uc-drop-parent-icon=""></span>
                </a>
                <div
                  class="p-2 bg-white dark:bg-gray-800 shadow-xs rounded w-150px"
                  data-uc-drop="mode: click; offset: 28; pos: top-right; boundary: !.uc-footer-bottom; animation: uc-animation-slide-top-small; duration: 150;"
                >
                  <ul class="nav-y gap-1 fw-medium items-end">
                    <li><a href="#en">English</a></li>
                    <li><a href="#ar">العربية</a></li>
                    <li><a href="#ch">中文</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>