<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Kwinfosys</title>

		<link rel="icon" type="image/png" href="favicon.ico">

        <!-- preload head styles -->
        <link rel="preload" href="/css/unicons.min.css" as="style">
        <link rel="preload" href="/css/swiper-bundle.min.css" as="style">
        <link rel="preload" href="/css/magic-cursor.min.css" as="style">

        <!-- preload footer scripts -->
        <link rel="preload" href="/js/jquery.min.js" as="script">
        <link rel="preload" href="/js/scrollmagic.min.js" as="script">
        <link rel="preload" href="/js/swiper-bundle.min.js" as="script">
        <link rel="preload" href="/js/anime.min.js" as="script">
        <link rel="preload" href="/js/typed.min.js" as="script">
        <link rel="preload" href="/js/tilt.min.js" as="script">
        <link rel="preload" href="/js/split-type.min.js" as="script">
        <link rel="preload" href="/js/prettify.min.js" as="script">
        <link rel="preload" href="/js/gsap.min.js" as="script">
        <link rel="preload" href="/js/magic-cursor.js" as="script">
        <link rel="preload" href="/js/data-attr-helper.js" as="script">
        <link rel="preload" href="/js/swiper-helper.js" as="script">
        <link rel="preload" href="/js/splitype-helper.js" as="script">
        <link rel="preload" href="/js/anime-helper.js" as="script">
        <link rel="preload" href="/js/typed-helper.js" as="script">
        <link rel="preload" href="/js/tilt-helper.js" as="script">
        <link rel="preload" href="/js/marquee.js" as="script">
        <link rel="preload" href="/js/uikit-components-bs.js" as="script">
        <link rel="preload" href="/js/form.js" as="script">
        <link rel="preload" href="/js/app.js" as="script">

        <!-- app head for bootstrap core -->
        <script src="/js/app-head-bs.js" is:inline></script>

        <!-- include uni-core components -->
        <link rel="stylesheet" href="/css/uni-core.min.css">

        <!-- include styles -->
        <link rel="stylesheet" href="/css/unicons.min.css">
        <link rel="stylesheet" href="/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="/css/prettify.min.css">
        <link rel="stylesheet" href="/css/magic-cursor.min.css">

        <!-- include main style -->
        <link rel="stylesheet" href="/css/theme-two.min.purge.css">

        <!-- include scripts -->
        
	</head>
	<body class="uni-body panel bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-200 overflow-x-hidden disable-cursor">
		<slot />

        <script src="/js/uni-core-bundle.min.js" is:inline ></script>


		<script src="/js/jquery.min.js" is:inline ></script>
        <script src="/js/bootstrap.min.js" is:inline ></script>

        <!-- include scripts -->
        <script src="/js/anime.min.js" is:inline ></script>
        <script src="/js/swiper-bundle.min.js" is:inline ></script>
        <script src="/js/scrollmagic.min.js" is:inline ></script>
        <script src="/js/typed.min.js" is:inline ></script>
        <script src="/js/tilt.min.js" is:inline ></script>
        <script src="/js/split-type.min.js" is:inline ></script>
        <script src="/js/prettify.min.js" is:inline ></script>
        <script src="/js/gsap.min.js" is:inline ></script>
        <script src="/js/magic-cursor.js" is:inline ></script>
        <script src="/js/data-attr-helper.js" is:inline ></script>
        <script src="/js/swiper-helper.js" is:inline ></script>
        <script src="/js/splitype-helper.js" is:inline ></script>
        <script src="/js/anime-helper.js" is:inline ></script>
        <script src="/js/typed-helper.js" is:inline ></script>
        <script src="/js/tilt-helper.js" is:inline ></script>
        <script src="/js/marquee.js" is:inline ></script>
        <script src="/js/uikit-components-bs.js" is:inline ></script>

        <!-- include app script -->
        <script src="/js/form.js" is:inline ></script>
        <script src="/js/app.js" is:inline ></script>

        <script>
            // Schema toggle via URL
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const getSchema = urlParams.get("schema");
            if (getSchema === "dark") {
                setDarkMode(1);
            } else if (getSchema === "light") {
                setDarkMode(0);
            }
        </script>
	</body>
</html>
